/* Estilos generales del header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* Verde Ingredion */
  color: white;
  padding: 10px 15px;
  font-family: Arial, sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;  /* Tamaño optimizado para móviles */
  height: auto;  /* Mantiene la proporción */
  cursor: pointer;
}

/* Menú */
.menu {
  display: flex;
  align-items: center;
  max-width: 1000px; /* Evita que el botón se mueva demasiado */
}

/* Botón del menú */
.menu-button {
  background: none;
  right: 30px ;
  border: none;
  color: #6CB33F;
  font-size: 70px; /* Ajuste de tamaño */
  cursor: pointer;
  padding: 4px;
  position: relative;
  z-index: 1001; /* Asegura que se mantenga visible */
}

/* Menú desplegable */
.menu-dropdown {
  position: absolute;
  right: 45px;
  top: 55px;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-width: 180px;
}

.menu-dropdown li {
  display: flex;
}

.menu-dropdown button {
  background: none;
  border: none;
  padding: 10px 20px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: #6CB33F;
  font-size: 20px;
}

.menu-dropdown button:hover {
  background-color: #E5E5E5;
}

/* Diseño responsive */
@media (max-width: 768px) {
  .header {
    padding: 8px 12px;
  }

  .menu {
    max-width: 50px; /* Ajusta el ancho del contenedor del botón */
  }

  .menu-button {
    font-size: 35px;
  }

  .menu-dropdown {
    width: 160px;
  }
}
